body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.flex-container > div {
  flex: 1 33%;
}

.flex-item {
  margin-bottom: 30px;
}

.current-city, .input-wrapper {
  text-align: center;
}

.submit-button {
  margin-left: 20px;
}