body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 30px 0;
}

.weather-table {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.weather-table th {
  padding: 0 10px;
}

.weather-table td {
  text-align: center;
}

.flex-item {
  margin-bottom: 30px;
}

.current-city, .input-wrapper {
  text-align: center;
}

.input-wrapper {
  margin-bottom: 50px;
}

.search-input {
  margin-top: 50px;
}

.submit-button {
  margin-left: 20px;
}

.tabtitle {
  font-size: 24px;
  padding-top: 16px;
  margin-bottom: 12px;
  font-weight: 400;
}

.tabs-wrapper {
  width: 59%;
  margin: 0 auto;
}

.weatherContainer {
  background: url('../weather-icons-set.png');
  height: 100px;
  width: 100px;
}

.icon-01n, .icon-01d {
  background-position: -90px -50px;
}

.icon-02d, .icon-03d {
  background-position: -323px -50px;
}

.icon-04n, .icon-04d, .icon-03d {
  background-position: -438px -45px;
  height: 90px;
}

.icon-10d, .icon-10n, .icon-02n {
  background-position: -93px -144px;
}

.icon-03n {
  background-position: -323px -144px;
}

.icon-13n, .icon-13d {
  background-position: -212px -243px;
}

.windPar {
  margin-top: 10px;
}

.windContainer {
  background: url('../mobile-app-design-wind-direction-pictographs.png');
  margin-right: 10px;
  margin-top: 5px;
  height: 34px;
  width: 38px;
}

.east {
  background-position: -162px -225px;
}

.south {
  background-position: -63px 0px;
}

.west {
  background-position: 38px -64px;
}

.north {
  background-position: 101px -128px;
}

.north-east {
  background-position: -179px -270px;
}

.north-west {
  background-position: -109px 54px;
}

.south-east {
  background-position: -20px -182px;
}

.south-west {
  background-position: -104px -19px;
}

.element-shown {
  opacity: 1;
  height: auto;
}

.element-hidden {
  transition: opacity 0.1s ease-out;
  opacity: 0; 
  height: 0;
  overflow: hidden;
}

.preloader-wrapper {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}